<mat-card>
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="uk-flex">
            <span class="uk-width-expand"></span>
            <button mat-flat-button color="primary" (click)="employeeDetail({},-1)">Create</button>
        </div>
        <table class="uk-table uk-table-middle uk-table-divider">
            <thead>
                <th>No</th>
                <th>Name</th>
                <th>Position</th>
                <th align="center">#</th>
            </thead>
            <tbody>
                <tr *ngFor="let data of datas; let idx=index">
                    <td>{{idx+1}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.position}}</td>
                    <td align="right">
                        <button mat-button color="primary" (click)="employeeDetail(data,idx)">Edit</button>
                        <button mat-button color="warn" (click)="deleteEmployee(idx)">Delete</button>
                    </td>                
                </tr>
            </tbody>
        </table>
    </mat-card-content>
</mat-card>